---
layout: default
---
<main>
  <div class="container">  
    <h1 class="pt1">Uplynulé ročníky Lesního slalomu</h1>
    <table class="full-width">
      <tr>
        <th>Rok</th>
        <th>Vítěz</th>
        <th>Čas</th>
        <th>Výsledky</th>
        <th>Ostatní</th>
      </tr>
    {% for race in site.races %}
      <tr>
        <td>
          <a href="{{ race.url }}">
          {{ race.year }} 
          </a>
        </td>
        <td>{{ race.winner }}</td>
        <td>{{ race.wintime }}</td>
        <td>{% if race.resultspdf %}<a href="/assets/{{ race.resultspdf }}">pdf</a>{% endif %}</td>
        <td>{% if race.letakpdf %}<a href="/assets/{{ race.letakpdf }}">leták</a>{% endif %}
          {% if race.reportpdf %}<a href="/assets/{{ race.reportpdf }}">report</a>{% endif %}</td>
      </h2>
    {% endfor %}
    </table>
    <section class="pt2 pb2 align--center">
      <a href="/" class="link">zpět na aktuální ročník</a>
  </section>
  </div>
</main>