---
layout: default
---
<!-- Header -->
<header class="align--center pt3 pb1">
    <div class="container">
        <h1 class="mb3 reveal-on-scroll is-revealing">Lesní slalom</h1>
        <h2 class="mb3 reveal-on-scroll is-revealing">{% if page.rocnik == 50 %}Jubilejní {% endif %}{{ page.rocnik }}. ročník</h2>
        <p class="mb1">{% if page.future != true %}se konal {% else %}se bude konat {% endif %}{{ page.datum }}</p>
        {% if page.future %}<p>🕘 prezentace <b>9:30</b>, start 10:00</p>
        <p><a href="https://en.mapy.cz/s/hetelupuda">🗺️ Nad <b>Vodárnou</b></a>, Řevnice</p>
        {% if page.rocnik == 50 %}
        <p class="mt1">Od <b>18:00</b> se koná oslava 50 let Lesního slalomu:<br>
            <b>Místo:</b> Dřevák/sklad13 (Pod Lipami 1280, Řevnice)<br>
            <b>Program:</b><br>
            Výstava fotek a výsledkových listin<br>
            19:00 promítání dokumentárního filmu z 14. ročníku<br>
            20:00 - 22:00 živá hudba<br>
        </p>
        {% endif %}
        {% else %}
        {% if page.winner %}
          {% if page.fwinner %}
            <p class="mt1">Absolutním vítězem se stal {{ page.winner }} s časem {{ page.wintime }}s. 
            <br>Nejrychlejší závodnicí byla {{page.fwinner}} s časem {{ page.fwintime }}s.</p>
          {% elsif page.mwinner %}
            <p class="mt1">Absolutním vítězem se stala {{ page.winner }} s časem {{ page.wintime }}s. 
            <br>Nejrychlejší mužský čas {{ page.mwintime }}s zaběhl {{page.mwinner}}.</p>
          {% else %}
            <p class="mt1">Absolutním vítězem se stal {{ page.winner }} s časem {{ page.wintime }}s.</p>
          {% endif %}
        {% endif %}
        <p class="mb1 mt1">
            {% if page.letakpdf %}<a href="/assets/{{ page.letakpdf  }}">Leták</a>{% endif %}
            {% if page.resultspdf %}<a href="/assets/{{ page.resultspdf  }}">Výsledky</a>{% elsif page.results %}<a href="#results">Výsledky</a>{% endif %}
            {% if page.reportpdf %}<a href="/assets/{{ page.reportpdf  }}">Report</a>{% endif %}
            {% if page.fotky %}<a href="#fotky">Fotky</a>{% endif %}
        </p>
        {% endif %}
        <p class="mt1">Výsledky starších ročníků naleznete v <a href="/archiv">archivu závodů.</a></p>
    </div>
</header>
<!-- Body -->
<main>
    <div class="container">  
    {% unless page.future %}
        {% if page.results %}
        <section class="pt3 pb3 align--center">
            <h3 class="mb2">Výsledky</h3>
            {% for c in site.data[page.results] %}
            Kategorie: {{ c.category }}
            {% assign times = "" | split: ',' %}
            {% for r in c.racers %}
                {% assign soucet = r.round1 | plus: r.round2 %}
                {% assign test = r.round1 | plus: 0 %}
                {% if test == 0 %}
                    {% assign soucet = 9999 %}
                {% endif %}
                {% assign test = r.round2 | plus: 0 %}
                {% if test == 0 %}
                    {% assign soucet = 9999 %}
                {% endif %}
                {% unless times contains soucet %}
                    {% assign times = times | push: soucet %} 
                {% endunless %}
            {% endfor %}
            {% assign times = times | sort %} 
            <table class="theme-bootstrap mb2">
                <tr><th></th><th>Jméno</th><th>1. kolo</th><th>2. kolo</th><th>Celkem</th></tr>
                {% assign poradi = 1 %}
            {% for t in times %}
              {% assign pocet = 0 %}
              {% for r in c.racers %}
              {% assign celkem = r.round1 | plus: r.round2 %}
                {% assign test = r.round1 | plus: 0 %}
                {% if test == 0 %}
                    {% assign celkem = 9999 %}
                {% endif %}
                {% assign test = r.round2 | plus: 0 %}
                {% if test == 0 %}
                    {% assign celkem = 9999 %}
                {% endif %}
                {% if celkem == t %}
                <tr{% if poradi == 1 %} class="bold{% if r.winner == "m" %} bg--secondary-color{% elsif r.winner == "f" %} bg--tertiary-color{% endif %}"{% endif %}><td>{{ poradi }}.</td><td>{{ r.name }}</td><td>{{ r.round1 }}</td><td>{{ r.round2 }}</td><td>{% if t < 9999 %}{{ t }}{% else %}DSQ{% endif %}</td></tr>
                {% assign pocet = pocet | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% assign poradi = poradi | plus: pocet %}
            {% endfor %}
            </table>
            {% endfor %}
        </section>
        {% endif %}

        {% if page.fotky %}
        <section id="fotky" class="pt3 pb3 align--center">
        {% for f in page.fotky %}
        <img src="/assets/{{ f[0] }}" />
        {% endfor %}
        </section>
        {% endif %}

        {% if page.fblink %}
        <section class="pt3 pb3 align--center">
            <ul class="no-bullets list--inline mb0">
                <li class="m1 block-on-mobile">
                    K ročníku existovala tato
                    <a href="{{ page.fblink }}" class="link"><img class="icon" src="/img/facebook.svg" alt="Facebook">akce na Facebooku</a>.
                </li>
            </ul>
        </section>
        {% endif %}

    {% else  %}

        <!-- Info -->
        <section class="pt1 pb2">
            <img class="mb3" src="img/slalom.png" alt="Lesní slalom">
            <div class="grid-row">
                <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                    <h2>ℹ️</h2>
                    <p>Lesní slalom je tradiční běžecký řevnický závod založený v roce 1976. 
                        Závodníci běží dvoukolově po trati vyznačené mezi stromy z kopce dolů, 
                        výsledný čas za obě kola se sčítá. Trať je každý rok trochu odlišná, nejrychlejší
                        běžci a běžkyně ji zdolají pod 20 vteřin.
                    </p>
                </div>
                <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                    <h2>🗺️</h2>
                    <p>Od 46. ročníku se závod koná na novém místě - 
                        <a href="https://en.mapy.cz/s/hetelupuda">nad řevnickou Vodárnou</a>. 
                        Doporučujeme dorazit pěšky, případně auta nechat u dětského hřiště a k vodárně dojít.
                    </p>
                </div>
                <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                    <h2>🏃</h2>
                    <p>Letos se závodí v těchto kategoriích:</p>
                    <ul style="padding-left:25px">
                        <li>0-5 let (+ doprovod, kratší trať)</li>
                        <li>6-8 let (smíšené)</li>
                        <li>9-11 let (smíšené)</li>
                        <li>12-15 let kluci/holky</li>
                        <li>16-134,5 let muži/ženy</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="pt3 pb3 align--center">
            <ul class="no-bullets list--inline mb0">
                <li class="m1 block-on-mobile">
                    Na akci se můžete přihlásit na
                    <a href="{{ page.fblink }}" class="link"><img class="icon" src="/img/facebook.svg" alt="Facebook"> Facebooku</a>.
                </li>
            </ul>
        </section>
    {% endunless  %}  
    {% if page.partner %}
        <section class="pt3 pb3 align--center">
            <h3 class="mb2">{% if page.future %}Naši partneři{% else %}Partnery tohoto ročníku byli{% endif %}</h3>
            {% if page.partner contains 'alza' %}<a href="https://alza.cz/"><img class="m1" src="/img/alza.svg" alt="Alza.cz" style="height:50px"></a>{% endif %}
            {% if page.partner contains 'pivovar' %}<a href="https://www.pivovar-revnice.cz/"><img class="m1" src="/img/pivovar.png" alt="Pivovar Řevnice" style="height:100px"></a>{% endif %}
            {% if page.partner contains 'prosport' %}<a href="https://www.prosport.cz/"><img class="m1" src="/img/prosport.png" alt="Prosport" style="height:45px"></a>{% endif %}
            {% if page.partner contains 'ekokom' %}<a href="https://www.ekokom.cz/"><img class="m1" src="/img/ekokom.svg" alt="Eko-kom" style="height:35px"></a>{% endif %}
            {% if page.partner contains 'nsa' %}<a href="https://agenturasport.cz/"><img class="m1" src="/img/nsa.png" alt="Národní sportovní agentura" style="height:50px"></a>{% endif %}
            {% if page.partner contains 'revnice' %}<a href="https://www.revnice.cz/" style="text-decoration: none; color: black;"><img class="m1" src="/img/revnice.png" alt="Město Řevnice" style="height:65px"> <b>Město Řevnice</b></a>{% endif %}
        </section>
    {% endif %}
    </div>
</main>
